<div fxLayout="row">
  <div>
    <div class="bread">
      <ul>
        <li [class]="steps[0]">
          <span>Datos Básicos &#62;</span>
        </li>
        <li [class]="steps[1]">
          <span>Validaciones &#62;</span>
        </li>
        <li [class]="steps[2]">
          <span>Formularios &#62;</span>
        </li>
        <li [class]="steps[3]">
          <span>Validación de Referencias &#62;</span>
        </li>
        <li [class]="steps[4]">
          <span>Firma de Documentos</span>
        </li>
      </ul>
    </div>
  </div>
</div>