<mat-form-field [floatPlaceholder]="options?.floatPlaceholder || (options?.notitle ? 'never' : 'auto')" [class]="options?.htmlClass">
  <mat-label [textContent]="options?.title" *ngIf="options?.title"></mat-label>
  <mat-select [placeholder]="options?.placeholder ? options?.placeholder : ''" [(ngModel)]="selected" (change)="change()" [required]="Required"
    [formControl]=formControl>
    <mat-option *ngFor="let item of list" [value]="item[options.key ? options.key: 'const']">
      {{ item.title }}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="formControl.hasError('required')">
    <span>{{ selectValidation?.required }}</span>
  </mat-error>
</mat-form-field>