<div fxLayout="row">
  <div fxFlex=80 fxFlexOffset=10 fxFlexAlign=center>
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <div fxFlex="40">
        <div class="container-image">
          <div class="about">
            <label for="">Todo sobre</label>
            <br>
            <a href="#">Educación ></a>
          </div>
        </div>
      </div>
      <div fxFlex="40">
        <div class="container-image">
          <div>
            
          </div>
          <label for="">Todo sobre</label>
          <a href="#">Educación ></a>
        </div>
      </div>
    </div>
  </div>
</div>