div{
    width: 55%;
    margin:0 auto;
}

h1 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    color: #3C66DE;
}

.btn-exit{
    display: block;
    margin: 0 auto;
    max-width: fit-content;
}