@import '~assets/colors-palettes';
@import '~@angular/material/theming';
@import 'src/fna-app-theme.scss';

$primary-color: mat-color($custom-theme-primary);
h2 {
    color: $primary-color;
}

p {
    color: $text-color;
    font-size: 1.1em;
}

div[fxFlexLayout='row'] {
    margin-bottom: 16px;
}

div[fxFlex='11'] {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    button {
        width: 100%;
        height: 45px;
        font-weight: initial;
        font-size: 1.1vw;
    }
}