<div class="footer">

  <div class="container-flex">
    <div class="flex">
      <div class="banner">
        <img src="assets/icontec.png" alt="">
        <img src="assets/logo-vigilado.png" alt="logo vigilado" class="logo-vigilado">
      </div>
      <div class="contact">
        <p>
          <strong>
            Punto Atención Principal - Correspondencia
          </strong>
          <br> Calle 12 No 65 - 11 Puente Aranda Bogotá - Colombia
          <br>
          <strong>Teléfono:</strong> (+571) 307 7070
          <br>
          <strong>Línea Gratuíta:</strong> 01 8000 52 70 70
        </p>

      </div>
      <div class="contact">
        <p>
          <strong>
            Sede Principal
          </strong>
          <br> Cra 65 No 11 - 83 Puente Aranda Bogotá - Colombia
          <br> Atención de Lunes a Viernes 7:30 am a 4:00 pm
          <strong>Notificaciones Judiciales:</strong>
          <br> notificacionesjudiciales@fna.gov.co
        </p>
      </div>
      <div>
        <p>
          <strong>
            Última actualización
          </strong>
          <br> 05 de abr. de 2018
        </p>
      </div>
    </div>
  </div>

  <div class="container-flex">
    <div fxLayout=row fxLayoutAlign=center fxFlex>
      <div fxFlex=65>
        <ul>
          <li>
            <a href="">Sobre el FNA</a>
          </li>
          <li>
            <a href="">Prensa</a>
          </li>
          <li>
            <a href="">PQRyD</a>
          </li>
          <li>
            <a href="">Transparencia y acceso a información</a>
          </li>
          <li>
            <a href="">Mapa del sitio</a>
          </li>
          <li>
            <a href="">Condiciones y políticos</a>
          </li>
        </ul>
      </div>
      <div fxFlexx=20>
        &copy;FNA Todos los derechos reservados
      </div>
    </div>
  </div>
</div>