$secondary-color: #273A85;
$bar-pass-color:#7ed321;
$title-color:#fff;
// Info elements
$info-background-color:#f6f6f6;
$text-color: #9B9B9B;
$title-input-color: rgba(0, 0, 0, 0.54);
$file-color:#818181;
$border-disabled:#CFCFCF;
$divider-color:#ededed;
$error-color: #f44336;
// Table elements
$table-border:#979797;